<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>ITP Media Group - Render the listing with filters it in Frontend using NodeJS</title>

    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.16/js/dataTables.bootstrap4.min.js"></script>
    
    <style>
        body {
            padding-top: 50px;
        }
    </style>
</head>

<body class="bg-info">

    <div class="container">
        <div class="jumbotron">
            <h2>ITP Media Group assignment completed by Dhanjiv Pandey</h2>
        </div>
    </div>
    <div class="container">
        <div class="ZipDatatable">
            <table id="searchcodesTable" class="table table-bordered table-sm">
                <thead>
                    <tr>
                        <th>Tconst</th>
                        <th>Type</th>
                        <th>Primary Title</th>
                        <th>Original Title</th>
                        <th>Genres</th>

                    </tr>
                </thead>
                <tbody></tbody>
                <tfoot>
                    <tr>
                        <th>Tconst</th>
                        <th>Type</th>
                        <th>Primary Title</th>
                        <th>Original Title</th>
                        <th>Genres</th>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>


</body>
<script>

    //$.fn.poshytip = { defaults: null };
    //$.fn.editable.defaults.mode = 'inline';
    $(document).ready(function () {
        var t = $('#searchcodesTable').DataTable({
            "paging": true,
            "pageLength": 25,
            "processing": true,
            "serverSide": true,
            'ajax': {
                'type': 'POST',
                'url': '/populatesearch'
            },
            'columns':
                [
                { 'data': 'tconst', "defaultContent": "", 'name': 'Tconst' },
                { 'data': 'titleType', "defaultContent": "", 'name': 'Type' },
                { 'data': 'primaryTitle', "defaultContent": "", 'name': 'Primary Title' },
                { 'data': 'originalTitle', "defaultContent": "", 'name': 'Original Title' },
                { 'data': 'genres', "defaultContent": "N", 'name': 'Genres' }
                ],
            "columnDefs": [
                {
                    "searchable": false,
                    "orderable": false,
                    "targets": 0
                }
            ]

        });

     
     });
</script>

</html>